<<<<<<< HEAD
.parent{
    width: 600px;
    background-color: pink;
    height: 300px;
}

.child1{
    width: 100px;
    background-color: yellow;
    float: left;
    height: 100px;
}

.child2{
    width: 300px;
    background-color: orange;
    float: right;
    height: 300px;
}
=======

.parent{
    width: 900px;
    background-color: pink;
    /* height: 300px; */
}

.child1{
    width:100px;
    background-color: yellow;
    float: left;
    height: 100px;
    margin-right:10px;

}
.child2{
    width:300px;
    background-color: orange;
    float: right;
    height: 300px;
    

}

>>>>>>> aa8013ed4339f2a6bac6472e4464ab9a0f13d1f0
