
.header{
    height: 400px;
    background-color: yellow;
    position: relative;
}

.imgContainer{
    height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.cityImage{
    position: relative;
    top:-125px;
    left: -120px;
    width: 100%;
}

.opacity{
    background-color: black;
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0px;
    opacity: 50%;
}

.textContainer{
    position: absolute;
    top: 0px;
    color: white;
    height: 100px;
    font-size: 75px;
    text-align: right;
    line-height: 400px;
}

.puppy{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    left: 50px;
    top: -100px;
}

.official{
    position:absolute;
    top: -400px;
    left: -200px;
}