/* Styling for Advanced Menu */

/* .advanced-na nav{
    display: flex;
    flex-direction: row;
} */

/* .advanced-nav ul{
    display: flex;
    flex-direction: row;

}

.advanced-nav li{
    display: flex;
    /* flex-direction: row; */
    /* flex-direction: column;
    height: 100%;
} */ 

.advanced-nav container{
    display: flex;
    flex-direction: row;
}